<table border = "1">
  <% @events.each do |event| %>
  <tr>
    <td><%= event.Job_ID %></td>
    <td><%= event.Employer %></td>
    <td><%= event.Position %></td>
    <td><%= event.Compensation %></td>
    <td><%= link_to 'Show', event_path(event) %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Delete', event_path(event), :method => :delete %></td>
  </tr>
  <% end %>
</table>

<%= link_to 'New Event', new_event_path %>
<%= paginate @events %>
